<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vue.js wrapper comonent example (jquery plugin :select2)</title>
	<script type="text/javascript" src="../vue.js"></script>
	<script type="text/javascript" src="https://unpkg.com/jquery"></script>
	<script type="text/javascript" src="https://unpkg.com/select2@4.0.3"></script>
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/select2@4.0.3/dist/css/select2.min.css">
	<style type="text/css">
		html,body{font:13px/18px sans-serif;}
		select{min-width: 300px}
	</style>
</head>
<body>
	<div id="el"></div>
	<script type="text/x-template" id="demo-template">
		<div>
			<p>Selected:{{selectd}}</p>
			<selecte2 :options="options" v-model="selected">
				<option disabled value="0">Selected one</option>
			</selecte2>
		</div>
	</script>

	<script type="text/x-template" id="selecte2-template">
		<select>
			<slot></slot>
		</select>		
	</script>

	<script type="text/javascript">
		Vue.component('select2',{
			props:['options','value'],
			template:"#selecte2-template",
			mounted:function(){
				var vm=this;
				$(this.$el)
					.val(this.value)
					.select2({data:this.options})
					.on("change",function(){
						vm.$emit('input',this.value)
					})
			},
			watch:{
				value:function(value){
					$(this.$el).select2({data:options})
				}
			},
			destroyed:function(){
				$(this.$el).off().select2('destroyed')
			}
		})

		var vm=new Vue({
			el:"#el",
			template:"#demo-template",
			data:{
				selected:0,
				options:[{
					id:1,text:'Hello'
				},{
					id:2,text:'World'
				}]

			}
		})
	</script>
</body>
</html>