<!DOCTYPE html>
<html>
<head>
	<title>vue的指令</title>
</head>
<body>
<p>以下是vue的指令</p>
<ul>
	<li>{{}}</li>
	<li>v-bind</li>
	<li>v-on:click</li>
	<li>v-if</li>
	<li>v-for</li>
	<li>v-model</li>
	<li>Vue.component: props template</li>
	<li>v-html</li>
	<li>{{number+1}}</li>
	<li>filters : {{message | capitalize}}</li>
	<li>computed</li>
	<li>计算缓存VS Methods</li>
	<li>watch</li>
	<li>axios.js</li>
	<li>lodash.js</li>




</ul>

<p>以下是疑惑</p>
<ul>
	<li>v-if 如何使用属性值判断</li>
	<li>Vue.component 无法显示出来元素</li>
</ul>
</body>
</html>