<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>使用Html复习原生avaScript</title>
	<style type="text/css">
		img{
			max-width: 200px;
			height: auto;
		}
	</style>
</head>
<body>
	<div class="container" id="container">
		<form>
			<div>
				<label>名字</label>
				<input type="" name="" id="name">
			</div>
			<div>
				<label>年龄</label>
				<input type="" name="" id="age">
			</div>
			<div>
				<label>性别</label>
				<input type="" name="" id="age">
			</div>

		</form>
	</div>
	<img src="../../public/img/11014-videogames-329.jpg">
	<img src="../../public/img/sf.png">
	<img src="../../public/img/ul2686179-76.jpg">
	<img src="../../public/img/v2-2975ba323ffd415fc887450248c3fd06_r.jpg">
	<img src="../../public/img/微信图片_20170518162816.jpg">
	<script type="text/javascript" src="index.js"></script>
</body>
</html>