<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>使用Html复习原生avaScript</title>
</head>
<body>
	<div class="container" id="container">
		<form>
			<div>
				<label>名字</label>
				<input type="" name="" id="name">
			</div>
			<div>
				<label>年龄</label>
				<input type="" name="" id="age">
			</div>
			<div>
				<label>性别</label>
				<input type="" name="" id="age">
			</div>

		</form>
	</div>
	<script type="text/javascript" src="index.js"></script>
</body>
</html>