<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>面试基础问题</title>
</head>
<body>
1:基本的布局
    中间自适应 旁边固定
    中间固定宽度,position属性为relative 内容宽度使用百分比显示,旁边或顶部固定的将position设置为fixed 并设置z-index为100

2:垂直居中的几种实现方法；
  第一种: position:absolute;top:50%;left:50%;margin-top:-自身高度一半;margin-left:-自身宽度一半
  第二种: 父级的上下padding设置相同,子集的line-height和height 设置为100% text-align:center;margin:0 auto;
  第三种:
盒模型；
position；
行内元素和块元素；
BFC(块级格式化上线文，和浮动一起考)；
animation；
伪元素伪类；
less、sass、stylus这种预处理器；
......
js基础

原型链；
闭包；
类和继承（es5实现方法 + es6实现方法）；
let、const、var；
promise；
异步处理方法；
写一个方法遍历所有文档树所有节点(考察递归)；
cookie和webstorege；
jsonp和跨域；
sort排序相关(注意ascll这个坑)
数组和对象的深浅拷贝；
String + Array的一些基本操作；
写一个数组去重的方法；
冒泡和捕获；
事件代理；
this相关(注意箭头函数的this指向问题)；
call、apply、bind；
变量提升；
高阶函数；
动画；
setTimeout、setInterval和requestAnimationFrame；
模块化开发；
引起内存泄漏的原因；
ajax；
map、filter、reduce相关；
Map和Set；
移动端开发相关；
......
框架和工具相关

vue数据绑定原理；
vue父子组件和兄弟组件的通信问题；
vuex的原理；
vuex的action和mutation的异步操作和同步操作问题；
vue的事件监听；
vue-router获取自定义参数；
vue-router的go相关；
vue组件设计相关；
模块化的工具；
webpack打包优化；
设计一个自己的打包工具需要设计哪些主要功能；
babel相关；
mvvm的好处；
jquery的一些基本用法；
lodash相关；
vue和react的对比；
vue和jquery的对比；
......
技术拓展

设计模式相关(单例、发布订阅等)；
浏览器渲染过程；
性能优化相关(这个点很大，设计很多方面，不要自以为优化就是网上经常看到的那一套)；
设计一个模版引擎；
设计一个打包工具；
设计一个mvvm框架需要注意的case；
源码阅读相关；

</body>
</html>