<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
    <style type="text/css">
        *{padding: 0;margin: 0}
        html,body{height: 100%;width:100%;background-color: #0a1015}
        .center{height: 200px;width: 200px;position: absolute;left: 50%;top: 50%;margin-top: -100px;margin-left:-100px;background-color: darkgreen}
        .parent{height: 400px;width: 100%;background-color: darkred;padding: 100px 0px;}
        .child{height: 100%;background-color: #0d9bf2;width: 100%;}
    </style>
</head>
<body>
<div class="center">

</div>

<div class="parent">
    <div class="child">

    </div>
</div>

</body>
</html>