<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>二维码</title>
	<link rel="stylesheet" type="text/css" href="../../reset.css">
	<link rel="stylesheet" type="text/css" href="defindactivity.css">
</head>
<body style="background-color: antiquewhite">
	<div class="conatiner">
		<img class="qrcode" src="qrcode.png">
		<p>请扫描二维码关注</p>
	</div>
	<script type="text/javascript" src="../../response.js"></script>
</body>
</html>