<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>拖动面板</title>
		<link href="../../plugins/zihan/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../plugins/zihan/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../plugins/zihan/css/animate.min.css" rel="stylesheet">
		<link href="../../plugins/zihan/css/style.min.css" rel="stylesheet">

		
	</head>

	<body class="gray-bg">
		<div class="wrapper wrapper-content  animated fadeInRight">
			<div class="row">
				<div class="col-sm-6 ui-sortable">

				</div>
				<div class="col-sm-6 ui-sortable">

				</div>

			</div>
			<div class="row">
				<div class="col-sm-4 ui-sortable">
					<div class="ibox float-e-margins" style="opacity: 1; z-index: 0;">
						<div class="ibox-title">
							<h5>拖动面板</h5>
							<div class="ibox-tools">
								<a class="collapse-link ui-sortable">
									<i class="fa fa-chevron-up"></i>
								</a>
								<a class="dropdown-toggle" data-toggle="dropdown" href="http://www.sucaihuo.com/modals/3/328/demo/draggable_panels.html#">
									<i class="fa fa-wrench"></i>
								</a>
								<ul class="dropdown-menu dropdown-user">
									<li><a href="http://www.sucaihuo.com/modals/3/328/demo/draggable_panels.html#">选项1</a>
									</li>
									<li><a href="http://www.sucaihuo.com/modals/3/328/demo/draggable_panels.html#">选项2</a>
									</li>
								</ul>
								<a class="close-link">
									<i class="fa fa-times"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<h2>
                                版本 1.2.1 中的新功能
                            </h2>
							<p>
								攻城狮们夜以继日的疯狂加班，毛都快掉光了，解决了下列问题，赶快升级吧！
								<br>1.新版智慧公交，增加定位、地图、预估到达时间等功能。
								<br>2.丰富幼儿故事资源，宝宝爱学，妈妈放心。
							</p>
						</div>
					</div>
					<div class="ibox float-e-margins" style="opacity: 1; z-index: 0;">
						<div class="ibox-title">
							<h5>拖动面板</h5>
							<div class="ibox-tools">
								<a class="collapse-link ui-sortable">
									<i class="fa fa-chevron-up"></i>
								</a>
								<a class="dropdown-toggle" data-toggle="dropdown" href="http://www.sucaihuo.com/modals/3/328/demo/draggable_panels.html#">
									<i class="fa fa-wrench"></i>
								</a>
								<ul class="dropdown-menu dropdown-user">
									<li><a href="http://www.sucaihuo.com/modals/3/328/demo/draggable_panels.html#">选项1</a>
									</li>
									<li><a href="http://www.sucaihuo.com/modals/3/328/demo/draggable_panels.html#">选项2</a>
									</li>
								</ul>
								<a class="close-link">
									<i class="fa fa-times"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<h2>
                                版本 1.2.1 中的新功能
                            </h2>
							<p>
								攻城狮们夜以继日的疯狂加班，毛都快掉光了，解决了下列问题，赶快升级吧！
								<br>1.新版智慧公交，增加定位、地图、预估到达时间等功能。
								<br>2.丰富幼儿故事资源，宝宝爱学，妈妈放心。
							</p>
						</div>
					</div>
					<div class="ibox float-e-margins" style="opacity: 1; z-index: 0;">
						<div class="ibox-title">
							<h5>拖动面板</h5>
							<div class="ibox-tools">
								<label class="label label-primary">可拖动</label>
							</div>
						</div>
						<div class="ibox-content">
							<h2>
                                版本 1.2.1 中的新功能
                            </h2>
							<p>
								攻城狮们夜以继日的疯狂加班，毛都快掉光了，解决了下列问题，赶快升级吧！
								<br>1.新版智慧公交，增加定位、地图、预估到达时间等功能。
								<br>2.丰富幼儿故事资源，宝宝爱学，妈妈放心。
							</p>
						</div>
					</div>
					<div class="ibox float-e-margins no-drop" style="opacity: 1; z-index: 0;">
						<div class="ibox-title">
							<h5>拖动面板</h5>
							<div class="ibox-tools">
								<label class="label label-danger">不可拖动</label>
							</div>
						</div>
						<div class="ibox-content">
							<h2>
                                版本 1.2.1 中的新功能
                            </h2>
							<p>
								攻城狮们夜以继日的疯狂加班，毛都快掉光了，解决了下列问题，赶快升级吧！
								<br>1.新版智慧公交，增加定位、地图、预估到达时间等功能。
								<br>2.丰富幼儿故事资源，宝宝爱学，妈妈放心。
							</p>
						</div>
					</div>
					<div class="ibox float-e-margins no-drop" style="opacity: 1; z-index: 0;">
						<div class="ibox-title">
							<h5>拖动面板</h5>
							<div class="ibox-tools">
								<label class="label label-danger">不可拖动</label>
							</div>
						</div>
						<div class="ibox-content">
							<h2>
                                版本 1.2.1 中的新功能
                            </h2>
							<p>
								攻城狮们夜以继日的疯狂加班，毛都快掉光了，解决了下列问题，赶快升级吧！
								<br>1.新版智慧公交，增加定位、地图、预估到达时间等功能。
								<br>2.丰富幼儿故事资源，宝宝爱学，妈妈放心。
							</p>
						</div>
					</div>
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>拖动面板</h5>
							<div class="ibox-tools">
								<a class="collapse-link ui-sortable">
									<i class="fa fa-chevron-up"></i>
								</a>
								<a class="dropdown-toggle" data-toggle="dropdown" href="http://www.sucaihuo.com/modals/3/328/demo/draggable_panels.html#">
									<i class="fa fa-wrench"></i>
								</a>
								<ul class="dropdown-menu dropdown-user">
									<li><a href="http://www.sucaihuo.com/modals/3/328/demo/draggable_panels.html#">选项1</a>
									</li>
									<li><a href="http://www.sucaihuo.com/modals/3/328/demo/draggable_panels.html#">选项2</a>
									</li>
								</ul>
								<a class="close-link">
									<i class="fa fa-times"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<h2>
                                版本 1.2.1 中的新功能
                            </h2>
							<p>
								攻城狮们夜以继日的疯狂加班，毛都快掉光了，解决了下列问题，赶快升级吧！
								<br>1.新版智慧公交，增加定位、地图、预估到达时间等功能。
								<br>2.丰富幼儿故事资源，宝宝爱学，妈妈放心。
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 ui-sortable">

				</div>
				<div class="col-sm-4 ui-sortable">

				</div>

			</div>
			<div class="row">
				<div class="col-sm-12 ui-sortable">

				</div>
			</div>
		</div>

		<!-- 全局js -->
		<script src="../../plugins/zihan/js/jquery-2.1.1.min.js"></script>
		<script src="../../plugins/zihan/js/bootstrap.min.js"></script>
		<script src="../../plugins/zihan/js/jquery.peity.min.js"></script>
		<script src="../../plugins/zihan/js/content.min.js"></script>
		<div class="gohome"><a class="animated bounceInUp" href="http://www.sucaihuo.com/modals/3/328/demo/index.html?v=3.0" title="返回首页"><i class="fa fa-home"></i></a></div>
		<script src="../../plugins/zihan/js/jquery-ui.min.js"></script>
		<script>
			$(document).ready(function() {
				<!-- Enable portlets -->
				WinMove();
			});
		</script>

	</body>

</html>