<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>使用requirejs 和echarts 组成的example</title>
		<link rel="stylesheet" href="../../plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
	</head>

	<body>
		<!--
        	作者：mengchen_0212@foxmail.com
        	时间：2016-05-20
        	描述：为ECharts准备一个具备大小狂傲的Dom
        -->
		<div class="container">
			<div class="row">
				<div class="col-sm-6" id="main" style="height: 400px;">
				</div>

				<div class="col-sm-6" id="bing" style="height: 400px;">
				</div>
				<div class="col-sm-6" id="asyncchart" style="height: 400px;">

				</div>
			</div>
		</div>
		<script src="../../plugins/requirejs/require-2.1.11.js" data-main="../../public/js/requireexample/echartsexample"></script>
	</body>

</html>