<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width initial-scale=1.0" />
		<title>jQuery-ui 拖动排序Example</title>
		<link rel="stylesheet" href="../../plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugins/jquery-ui-1.11.4/jquery-ui.min.css" />
		<style>
			.ui-state-highlight { height: 100px; line-height: 100px; }
		</style>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="panel panel-info">
						<div class="panel-heading">初始化的对象</div>
						<div class="panel-body">
							<div class="col-lg-12 col-md-12 col-sm-12 connectedSortable" id="sortli" style="min-height: 400px;">

								<div class="panel panel-default">
									<div class="panel-heading"> banner </div>
									<div class="panel-body">Panel content</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading"> header</div>
									<div class="panel-body">Panel content</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading"> footer</div>
									<div class="panel-body">Panel content</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading"> 四个商品</div>
									<div class="panel-body">Panel content</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">三个商品</div>
									<div class="panel-body">Panel content</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">二个商品</div>
									<div class="panel-body">Panel content</div>
								</div>

							</div>
						</div>
					</div>

				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="panel panel-success">
						<div class="panel-heading">存放排序对象</div>
						<div class="panel-body">
							<div class="col-lg-12 col-md-12 col-sm-12 connectedSortable" id="nulldom" style="min-height: 400px;">

							</div>

						</div>
					</div>

				</div>
			</div>
		</div>

		<script src="../../plugins/jquery/jquery-1.12.mini.js"></script>
		<script src="../../plugins/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../plugins/jquery-ui-1.11.4/jquery-ui.min.js"></script>
		<script>
			//自己的列表排序
			//			(function() {
			//				$("#sortli").sortable();
			//				$("#sortli").disableSelection();
			//			})();
			//可排序到另一个dom中
			(function() {
				$("#sortli, #nulldom").sortable({
					connectWith: ".connectedSortable",
					//延迟排序 防止误排序
					//delay:100,
					//排序时空占位符
					//placeholder: "ui-state-highlight",
					
					
				}).disableSelection();
			})();
		</script>
	</body>

</html>