<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>this is my Angular Demo on company write</title>
	<link rel="stylesheet" type="text/css" href="../../plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css">
</head>
<body>
	<div ng-app="demo" ng-controller="myctrl" class="container">
		<div class="panel panel-success">
			<div class="panel-body">
				<div class="input-group  col-md-6">
				<input type="text" class="form-control" ng-model="task">
				<span class="input-group-btn">
					<button class="btn btn-primet" ng-click="add()">添加任务</button>
				</span>
			</div>
			<h4 ng-if="tasks.length>2">任务列表</h4>
			<ul class="list-group">
				<li ng-repeat="item in tasks track by $index" class="list-group-item">
					{{item}}
					<a ng-click="tasks.splice($index,1)">删除</a>
				</li>
			</ul>

			</div>

		</div>
		


	</div>
	<script type="text/javascript" src="../../plugins/angularjs/angular.1.4.6.min.js"></script>
	<script type="text/javascript" src="taskmanager.js"></script>
</body>
</html>