<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>this is my Angular Demo on company write</title>
	<link rel="stylesheet" type="text/css" href="../../plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css">
</head>
<body>
	<div ng-app="demo" ng-controller="myctrl" class="container">
		<div class="panel panel-success">
			<div class="panel-body">
				<div class="input-group  col-md-6">
				<input type="text" class="form-control" ng-change="show=false" ng-model="task">
				<span class="input-group-btn">
					<button class="btn btn-primet" ng-click="add()">添加任务</button>
				</span>
			</div>
			<h4 ng-if="tasks.length>2">任务列表</h4>
			<ul class="list-group" >
				<li ng-repeat="item in tasks track by $index" ng-click="isNow($index)" class="list-group-item">
					{{item}}
					<a ng-click="tasks.splice($index,1)">删除</a>
				</li> 
			</ul>
			<p ng-show="show">111111111</p>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>第1列</th>
						<th>第2列</th>
						<th>第3列</th>
						<th>第4列</th>
						<th><button class="btn btn-success" ng-click="addRow()">添加一行</button></th>
					</tr>					
				</thead>
				<tbody>
					<tr>
						<td>这是11</td>
						<td>这是12</td>
						<td>这是13</td>
						<td>这是14</td>
						<td><button class="btn btn-danger" ng-click="delRow()">删除一行</button></td>
					</tr>
					<tr>
						<td>这是21</td>
						<td>这是22</td>
						<td>这是23</td>
						<td>这是24</td>
						<td><button class="btn btn-danger" ng-click="delRow()">删除一行</button></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>

		<!--使用directive-->
		<hello></hello>
		
		<pmc>
			<br/>
			<span>原始的内容</span>
			<span>还会在这里</span>
		</pmc>
		<pmc>
		</pmc>

		<div ng-repeat="person in people">
			{{person}}:<wkd></wkd>
		</div>
		


	</div>
	<script type="text/javascript" src="../../plugins/angularjs/angular.1.4.6.min.js"></script>
	<script type="text/javascript" src="taskmanager.js"></script>
</body>
</html>