<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="stylesheet" href="../../plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
		<title>Angularjs services  四种方法</title>
	</head>

	<body ng-app="myapp">
		<div class="container">			
			 

			<mydirective></mydirective>	

			<div mydirective></div>		 
		</div>
		<script src="../../plugins/angularjs/angular.1.4.6.min.js"></script>
		
		<script type="text/javascript">
			//装饰器
			(function(){
				angular.module('myapp',[])
				       .directive('mydirective',mydirective);

				function mydirective(){
					return {
						restrict:"E",
						replace:true,
						template:'<div>这是我的装饰器{{myname}}</div>',
						scope:{},
						link:function(scope,element,attrs){
							scope.myname="Fizz";
							console.log(element);
							console.log(attrs);
						}
					}
				}
				mydirective.$inject=[];
			})() 
		</script>
		
	</body>

</html>