<!DOCTYPE html>
<html>
<head>
	<title>饼形</title>
	<style type="text/css">
	#my{height: 200px;width: 200px;background-color: black;border-radius: 50% 50%;position: relative; }
	.one{width: 100px;height: 100px ;background-color: #4a1e1e;position: absolute; clip:rect(0px,50px,100px,100px);  
    left:300px;}
	/*.two{width: 100px;height: 100px ;background-color: #4a1e1e}
	.three{width: 100px;height: 100px ;background-color: #4a1e1e}*/
	</style>
	
</head>
<body>
	  <div   id="my">
       		<div class="one"></div>
       		<div class="two"></div>
       		<div class="three"></div>
       </div>  

       
       
    


</body>
</html>